[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
numba = "*"
torch = "*"
torchvision = "*"
sacred = "*"
pandas = "*"
tqdm = "*"
tadasets = "*"
ipython = "*"

[requires]
python_version = "3.7"
