body {
	font-family: Merriweather;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1, h2 {
	text-align: center;
	/* margin: auto; */
}

svg {
	overflow: visible;
}

table {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}




/* stability chart */


.circle-line {
	fill-opacity: 0.7;
	stroke: #eee;
	stroke-width: 1.5;
}

.circle-umato {
	fill: blue;
}
.circle-umap {
	fill: red;
}
.circle-atsne {
	fill: green;
}

svg {
	position: relative;
	overflow: visible;
}

.tick {
	font-size: .725em;
	font-weight: 200;
}

.tick line {
	stroke: #aaa;
	stroke-dasharray: 2;
}

.tick text {
	fill: #666;
	text-anchor: start;
}

.tick.tick-0 line {
	stroke-dasharray: 0;
}

.x-axis .tick text {
	text-anchor: middle;
}

.path-line {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 2;
}

.path-line-umato {
	stroke: blue;
}
.path-line-umap {
	stroke: red;
}
.path-line-atsne {
	stroke: green;
}


.path-area {
	fill: rgba(0, 128, 0, 0.2);
}