body {
	font-family: Merriweather;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1, h2 {
	text-align: center;
	/* margin: auto; */
}

svg {
	overflow: visible;
}

table {
	display: flex;
	justify-content: center;
	align-items: center;
}